__pycache__/
ppdmod.egg-info/
build/
.DS_Store
*.pdf
*.xlsx
*.txt
!CMakeLists.txt
*results*
*cpython*
*.html
*.exe
cython_src/*.c

# Sensitive Data
data/fits
data/flux
data/opacities
data/gravity

# Results of tests
fluxes/
component/
opacities/
plots/
phase/
results_model/
data/model_results/
baselines/
