__pycache__/
ppdmod.egg-info/
fft/
fluxes/
build/
component/
opacities/
binning/
padding/
plots/
resolution/
phase/
interpolation/
results_model/
line_profiler/
.DS_Store
*.pdf
*.xlsx
*.txt
*results*
*cpython*
*.html
*.c
*.exe
